<mat-card>
  <h1>The Suspects</h1>

</mat-card>


  <div class="flex-container">
    <div class="flex-item"><img src="../../../../assets/images/Benjamin_Polaroid.jpg"/></div>
    <div class="flex-item"><img src="../../../../assets/images/Bubba_Polaroid.jpg"/></div>
    <div class="flex-item"><img src="../../../../assets/images/Ellena_Polaroid1.jpg"/></div>
    <div class="flex-item"><img src="../../../../assets/images/Florence_Polaroid1.jpg"/></div>
    <div class="flex-item"><img src="../../../../assets/images/Jett_Polaroid.jpg"/></div>
    <div class="flex-item"><img src="../../../../assets/images/Kim_Polaroid.jpg"/></div>
  </div>
